apiVersion: v1
kind: Service
metadata:
  name: eai-backend
  namespace: eai
  labels:
    app.kubernetes.io/name: enterprise-ai-platform
    app.kubernetes.io/component: backend
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: enterprise-ai-platform
    app.kubernetes.io/component: backend
